#emacs
*~
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.desktop

#fish
/.config/*
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish

/.local/*
!/.local/share/
/.local/share/*
!/.local/share/fish
/.local/share/fish/*
!/.local/share/fish/fish_history