#emacs
*~
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.desktop
.emacs.desktop.lock
.python-environments
.emacs.d/history
.emacs.d/places
\#*
.\#*
.emacs.d/eshell

#fish
/.config/*
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish

