#emacs
*~
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.desktop
.emacs.desktop.lock
.python-environments
.emacs.d/history
.emacs.d/places

#fish
/.config/*
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish

